@charset "UTF-8";
@font-face {
    font-family: "Geologica";
    src: url(/public/fonts/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}
@font-face {
    font-family: "Poppins2";
    src: url(/public/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Rubik2";
    src: url(/public/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Quicksand";
    src: url(/public/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
.topnav {
  background-color: #141414;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.topnav a {
  height: 45px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 24px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: grey;
  color: white;
}
#banner{
    font-family: "Geologica";
}
#kahoot {
  font-family: "Montserrat", sans-serif;
}
#gimkit {
  font-family: "Rubik2";
}
#quizlet {
  font-family: "Poppins2";
  position: relative;
  bottom: 4px;
}
#quizizz{
    font-family: "Quicksand";
    position: relative;
    bottom: 4px;
}
.parallax-home {
    background-image: url("/public/img/default.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.body-content{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
}