@charset "UTF-8";
@font-face {
  font-family: "Geologica";
  src: url("https://firebasestorage.googleapis.com/v0/b/thug-002.appspot.com/o/fonts%2FGeologica-VariableFont.ttf?alt=media&token=ae91bade-e830-4ee8-ab4f-3ded35529ce0&_gl=1*19skdif*_ga*MjQzNzQ4OTc5LjE2ODAxMTQxNTY.*_ga_CW55HF8NVT*MTY4NjIwMDU2MS4xOC4xLjE2ODYyMDA2MTEuMC4wLjA.");
}
@font-face {
  font-family: "Poppins2";
  src: url("https://firebasestorage.googleapis.com/v0/b/thug-002.appspot.com/o/fonts%2FPoppins-Regular.ttf?alt=media&token=a64b224b-0f4f-43ec-8934-5b6372175653&_gl=1*yjv0do*_ga*MjQzNzQ4OTc5LjE2ODAxMTQxNTY.*_ga_CW55HF8NVT*MTY4NjIwMDU2MS4xOC4xLjE2ODYyMDA3MjIuMC4wLjA.");
}
@font-face {
  font-family: "Product Sans";
  src: url("https://firebasestorage.googleapis.com/v0/b/thug-002.appspot.com/o/fonts%2FProductSans.b2d5784e.ttf?alt=media&token=16f3c66d-2ed2-4cb5-9347-6dcc6f673696");
}
@font-face {
  font-family: "Quicksand";
  src: url("https://firebasestorage.googleapis.com/v0/b/thug-002.appspot.com/o/fonts%2FQuicksand-VariableFont_wght.ttf?alt=media&token=75fda680-11e0-4da6-936b-148c10ba7b52&_gl=1*rx6y1v*_ga*MjQzNzQ4OTc5LjE2ODAxMTQxNTY.*_ga_CW55HF8NVT*MTY4NjIwMDU2MS4xOC4xLjE2ODYyMDIzNTguMC4wLjA.");
}

* {
  overflow-x: hidden;
}

html {
  margin: 0;
}

html,
body {
  background-color: #141414;
  width: 100%;
}

.topnav {
  padding-left: 20px;
  background-color: #141414;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
.topnav a {
  height: 35px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}
.topnav a:hover {
  background-color: #181818;
  animation: hoverover 500ms linear;
}
.topnav a.active {
  background-color: grey;
  color: white;
}
#banner {
  font-family: "Geologica";
  color: white;
  padding: 20px 16px;
}

@keyframes hoverover {
  from {
    background-color: #141414;
  }
  to {
    background-color: #181818;
  }
}

#kahoot {
  font-family: "Montserrat", sans-serif;
  padding: 20px 16px;
}
#gimkit {
  font-family: "Product Sans";
  padding: 20px 16px;
}
#quizlet {
  font-family: "Poppins2";
  padding: 14px 16px 26px 16px;
}
#quizizz {
  font-family: "Quicksand";
  padding: 14px 16px 26px 16px;
}

.bottomnav {
  background-color: #141414;
  overflow: hidden;
  left: 0;
  position: absolute;
  width: 100%;
  padding-left: 20px;
}
.bottomnav a {
  height: 35px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}
.bottomnav a:hover {
  animation: hoverover 500ms linear;
}

.parallax-background svg {
  z-index: 3;
}
.parallax-background {
  background-color: #181818;
  width: 100%;
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.content {
  background-color: #181818;
}
.foreground-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Geologica";
  color: white;
  font-size: 60px;
  text-shadow: 5px 5px #141414;
  z-index: 1;
}

hr {
  height: 50px;
  border: #141414;
}

.parent {
  height: 1000px;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
}

.outside {
  color: #141414;
}
.inside {
  font-family: "Geologica";
  padding: 30px;
  font-size: 20px;
  color: white;
  background-color: #141414;
  box-shadow: 10px 20px 8px #141414;
}

.hidden {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out; /* this is for smooth sliding */
}
